@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300&family=Roboto:wght@100&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.585);
}

.angle_top {
  position: sticky;
  z-index: 20;
  top: 93vh;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0);
  box-shadow: 0 0 15px rgba(23, 23, 65, 0.555);
}
.angle_top:hover {
  animation: animateAngle_top 1s linear infinite;
}
@keyframes animateAngle_top {
  0% {
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.angle_top:hover svg {
  transform: rotate(360deg);
}
.angle_top svg {
  width: 1.3rem;
  color: white;
  height: 1.3rem;
  transition: all 1s ease;
}

/*  NAV  */

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  transform: perspective(0) rotateX(0) rotateY(0);
  z-index: 10;
}
.navUl {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}
.brand {
  text-decoration: none;
  padding-left: 100px;
}
.brand h1 {
  font-family: "Audiowide", cursive;
  color: rgb(0, 0, 118);
  font-size: 2.2rem;
}
.brand span {
  color: blue;
}
.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  height: 90px;
  position: relative;
  margin-right: 10px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item::before {
  content: "";
  width: 0;
  left: 50%;
  height: 3px;
  top: 0;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  transition: all 0.3s linear;
}
.nav__item:hover::before {
  width: 100%;
  left: 0;
}
.nav__item a {
  color: rgba(0, 0, 0, 0.457);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  padding: 0 13px;
}
.nav__item a:hover {
  color: black;
}
.pages__section {
  display: flex;
  flex-flow: column;
  position: absolute;
  opacity: 0;
  width: 15rem;
  box-shadow: 0 0 20px rgba(76, 83, 102, 0.206);
  top: 90px;
  left: 0;
  margin-top: 50px;
  background-color: white;
  visibility: hidden;
  transition: all 0.8s ease;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid black;
  padding: 5px 5px;
}
.pages__link {
  position: relative;
}
.pages__link:hover .pages__section {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}
.nav__item_pages {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  height: 80px;
}
.nav__item_pages a {
  color: rgba(0, 0, 0, 0.457);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  padding: 0 20px;
}
.nav__item_pages a:hover {
  color: #000;
}
.language {
  position: relative;
}
.navItem_language {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0 20px rgba(76, 83, 102, 0.206);
  top: 90px;
  left: 0;
  margin-top: 30px;
  background-color: white;
  visibility: hidden;
  transition: all 0.8s ease;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid black;
}
.language:hover .navItem_language {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
.navItem_language li {
  list-style: none;
}
.navItem_language li:first-child {
  margin-bottom: 10px;
}

/*  HOME  */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.home__title {
  margin-right: 80px;
}
.home__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.home__brand h1 {
  text-shadow: 0 5px 10px rgba(32, 32, 67, 0.6);
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home__brand .home_brand_uzbek,
.home_brand_about {
  font-family: "Audiowide", cursive;
  color: rgb(0, 0, 118);
  font-size: 2.2rem;
}
.home_brand_about {
  color: blue;
}
.home__title p {
  line-height: 30px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.457);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home__bg {
  display: flex;
  width: 40rem;
  align-items: center;
  justify-content: center;
  height: 33rem;
}
.home__bg svg {
  position: relative;
}
.home__bg svg path {
  fill: rgb(74, 76, 220);
  fill-opacity: 1;
  stroke: rgb(255, 255, 255);
  stroke-width: 0.493193px;
  stroke-opacity: 1;
}
.home__bg svg .water:hover {
  fill: blue;
}
.home__bg svg .sarvan:hover {
  fill: black;
}
.home__bg svg .andijon:hover {
  fill: yellow;
}
.home__bg svg .buxoro:hover {
  fill: orange;
}
.home__bg svg .fargona:hover {
  fill: red;
}
.home__bg svg .jizzah:hover {
  fill: pink;
}
.home__bg svg .namangan:hover {
  fill: purple;
}
.home__bg svg .navoiy:hover {
  fill: #67b;
}
.home__bg svg .qashqadaryo:hover {
  fill: aqua;
}
.home__bg svg .qoraqolpaqiston:hover {
  fill: rgba(246, 255, 70, 0.591);
}
.home__bg svg .samarqand:hover {
  fill: chartreuse;
}
.home__bg svg .sirdaryo:hover {
  fill: darksalmon;
}
.home__bg svg .surxondaryo:hover {
  fill: mediumpurple;
}
.home__bg svg .tashkent_city:hover {
  fill: #797979;
}
.home__bg svg .tashkent:hover {
  fill: black;
}
.home__bg svg .xorazm:hover {
  fill: rgb(0, 255, 132);
}

/* HOME REGION ABOUT */
.homeRegion_about {
  padding-bottom: 107px;
}
.homeRegionRow_item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.homeRegion_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 30px;
  background-color: white;
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.11);
  width: 24rem;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.homeRegion_item:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgb(0 0 0 / 13%);
}
.regionAbout_margin {
  margin-right: 80px;
}
#one:checked ~ .homeRegion_row {
  margin-left: 0;
}
#two:checked ~ .homeRegion_row {
  margin-left: -100%;
}
#four:checked ~ .homeRegion_row {
  margin-left: -300%;
}
#five:checked ~ .homeRegion_row {
  margin-left: -400%;
}
.regionCarosul_title,
.territory,
.population {
  margin-bottom: 30px;
}
.regionCarosul_title h1 {
  color: rgb(0, 0, 118);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}
.territory h1,
.population h1,
.gdp h1 {
  color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.territory h3,
.population h3,
.gdp h3 {
  color: #4274b8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.homeRegion_row {
  display: flex;
  width: 500%;
  justify-content: space-evenly;
  align-items: center;
  transition: all 2s ease;
  margin-bottom: 70px;
  margin-left: -200%;
}
.regionCarousel_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.regionCarousel_button label {
  width: 22px;
  height: 22px;
  background-color: #67adbe76;
  margin: 0 6px;
  border-radius: 20px;
  transition: all 0.4s linear;
  cursor: pointer;
}
.regionCarousel_button label.active {
  transform: scale(1.4);
  background-color: #67adbe;
}
.regionCarousel_button label.one,
.five {
  transform: scale(0.7);
  background-color: #67adbe76;
}
#one:checked ~ .regionCarousel_button label.one,
#two:checked ~ .regionCarousel_button label.two,
#three:checked ~ .regionCarousel_button label.three,
#four:checked ~ .regionCarousel_button label.four,
#five:checked ~ .regionCarousel_button label.five {
  transform: scale(1.4);
  background-color: #67adbe;
}

#five:checked ~ .regionCarousel_button label.four,
#four:checked ~ .regionCarousel_button label.three,
#three:checked ~ .regionCarousel_button label.two,
#one:checked ~ .regionCarousel_button label.two,
#one:checked ~ .regionCarousel_button label.three,
#two:checked ~ .regionCarousel_button label.three,
#five:checked ~ .regionCarousel_button label.three {
  transform: scale(1);
  background-color: #67adbe76;
}
#two:checked ~ .regionCarousel_button label.one,
#three:checked ~ .regionCarousel_button label.one,
#four:checked ~ .regionCarousel_button label.one,
#five:checked ~ .regionCarousel_button label.one {
  transform: scale(0.7);
  background-color: #67adbe76;
}

input[type="radio"] {
  display: none;
}

/*  REGION  */

.region {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.region_title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 130px;
  padding-bottom: 150px;
}
.region_title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 118);
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.firstRow_region,
.secondRow_region {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 130px;
}
.firstRow_region {
  margin-bottom: 50px;
}
.regionFirst_img,
.regionSecond_img,
.regionFour_img,
.regionFive_img {
  margin-right: 50px;
}
.regionItem_img {
  width: 24.5rem;
  height: 17rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(77, 77, 103, 0.3);
  transition: all 1s ease;
  border-radius: 10px;
}
.regionItem_img:hover {
  box-shadow: 0 20px 40px rgba(94, 94, 137, 0.6);
}
.regionItem_img:hover img {
  transform: scale(1.5);
}
.regionItem_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.7s ease;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 3s ease;
}
.regionItem_img:hover .overlay {
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: all 1s ease;
}
.overlay__item {
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}
.overlayItem__title {
  text-transform: uppercase;
  position: absolute;
  bottom: -50%;
  transition: all 2.5s ease;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.learning a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}
.learning svg {
  transition: all 0.5s ease;
  margin-left: 0;
}
.learning {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -50%;
  left: 20px;
  transition: all 2s ease;
}
.learning:hover svg {
  margin-left: 10px;
}
.regionItem_img:hover .overlay__item {
  opacity: 1;
}
.overlay__item:hover .overlayItem__title {
  bottom: 70px;
  transition: all 0.5s ease;
}
.overlay__item:hover .learning {
  bottom: 20px;
  transition: all 1s ease;
}
.regionAll_button {
  padding: 20px 70px;
  border: none;
  border-radius: 10px;
  background-color: #67adbe;
  color: white;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
  font-size: 1.1 rem;
  box-shadow: 0 0 20px #4e5b5ea3;
  transition: all 0.5s ease;
}
.regionAll_button:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 20px #4e5b5e5a;
}

/* SYMBOL */

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0;
}
.symbol_title {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 130px;
  padding-bottom: 150px;
}
.symbol_title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 118);
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.symbol_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.symbolItem_gerb,
.symbolItem_flag {
  margin-right: 50px;
}
.symbol_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 30px rgba(97, 97, 123, 0.451);
  position: relative;
  min-height: 650px;
  width: 24rem;
  z-index: 0;
  overflow: hidden;
}
.symbolItemGerb_img,
.symbolItemFlag_img,
.symbolItemArt_img {
  position: absolute;
  margin-bottom: 120px;
}
.symbolItemFlag_img img {
  height: 17rem;
}
.symbolItemGerb_img img,
.symbolItemFlag_img img,
.symbolItemArt_img img {
  width: 20rem;
}
.symbolItemGerb_title,
.symbolItemFlag_title,
.symbolItemArt_title {
  position: absolute;
  bottom: 4%;
  z-index: 2;
  transition: all 0.4s linear;
}
.symbolItemGerb_title h1,
.symbolItemFlag_title h1,
.symbolItemArt_title h1 {
  text-align: center;
  color: #67adbe;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
}
.symbol_item:hover .symbolItemGerb_title,
.symbol_item:hover .symbolItemFlag_title,
.symbol_item:hover .symbolItemArt_title {
  bottom: 85%;
  transition: all 0.5s linear;
}
.symbolItem_overlay {
  position: absolute;
  bottom: -100%;
  z-index: 2;
  transition: all 1s linear;
}
.symbolItem_overlay_bg {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.4s linear;
}
.symbol_item:hover .symbolItem_overlay_bg {
  opacity: 1;
  transition: 0;
}
.symbolItem_overlay p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 25px;
}
.symbol_item:hover .symbolItem_overlay {
  bottom: 2%;
  transition: all 1.3s linear;
}

/*  CULTURE  */

.culture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0;
}
.culture_title {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 130px;
  padding-bottom: 150px;
}
.culture_title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 118);
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.sumalak {
  padding-left: 60px;
  margin-bottom: 70px;
}
.clothes {
  padding-left: 0;
  padding-right: 60px;
  margin-bottom: 70px;
}
.food {
  padding-left: 60px;
}
.culture_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79rem;
  height: 25rem;
  box-shadow: 0 0 40px rgba(121, 121, 190, 0.396);
  transition: all 0.5s ease;
  background-color: white;
}
.cultureItem_p p {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(0, 0, 0, 0.482);
  line-height: 30px;
}
.cultureItem_img {
  display: flex;
  justify-content: center;
}
.cultureItem_img img {
  width: 34rem;
  height: 25rem;
}

/* HOTEL */
.hotel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0;
}
.hotel_title {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 130px;
  padding-bottom: 150px;
}
.hotel_title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 118);
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.hotel_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.hotelFirst_img,
.hotelSecond_img {
  margin-right: 50px;
}
.hotelImg_item {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 50px rgb(74, 78, 121, 0.7);
}
.hotelImg_item img {
  width: 24.5rem;
  height: 18rem;
}
.hotel_overlay {
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 60px;
  right: 60px;
  max-height: 90px;
  padding: 0 15px;
  padding-top: 25px;
  padding-bottom: 10px;
  top: 85%;
  overflow: hidden;
  transition: all 0.2s linear;
  box-shadow: 0 0 10px rgba(136, 136, 175, 0.449);
}
.hotelImg_item:hover .hotel_overlay {
  max-height: 170px;
}
.hiltonOverlay_title,
.SaraLindOverlay_title,
.ramadaOverlay_title {
  display: flex;
  justify-content: center;
}
.hiltonOverlay_title h1,
.SaraLindOverlay_title h1,
.ramadaOverlay_title h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 350;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 25px;
}
.hotel_overlay p {
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 350;
  color: rgba(0, 0, 0, 0.519);
}
.hotel_address {
  color: black;
  margin-right: 10px;
}
.hotel_link {
  position: relative;
  z-index: 0;
  width: 80rem;
  background: url(../image/hotel/hotel.bg.webp) no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.hotelLink_bg {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(110deg, #4274b8 20%, #21448000 70%);
}
.hotelLink_brand h1 {
  font-family: "GT Walsheim Pro", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  padding: 60px 0 20px 40px;
}
.hotelLink_brand h1 span {
  color: white;
}
.hotelLink_brand p {
  color: white;
  font-size: 1.2rem;
  font-family: "GT Walsheim Pro", sans-serif;
  padding: 0 0 40px 40px;
}
.hotelLink_item {
  display: flex;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  width: 58rem;
  height: 11rem;
  margin-left: 40px;
  margin-bottom: 50px;
}
.hotelLink_item_first,
.hotelLink_item_second,
.hotelLink_item_three {
  width: 17rem;
  border-radius: 20px;
  padding: 30px 40px;
  transition: all 0.2s linear;
}
.hotelLink_item_second,
.hotelLink_item_three {
  width: 21rem;
}
.hotelLink_item_first:hover,
.hotelLink_item_second:hover,
.hotelLink_item_three:hover {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(30, 30, 49, 0.34);
}
.hotelLink_item_first:hover h3,
.hotelLink_item_second:hover h3,
.hotelLink_item_three:hover h3 {
  color: #4274b8;
}
.hotelLink_item_first:hover h2,
.hotelLink_item_second:hover h2,
.hotelLink_item_three:hover h2 {
  color: #0505057b;
}
.hotelLink_item_first:hover svg,
.hotelLink_item_second:hover svg,
.hotelLink_item_three:hover svg {
  color: white;
  background-color: #4274b8;
}
.hotelLink_p h3 {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotelLink_p a,
.hotel_money a {
  text-decoration: none;
}
.hotelLink_p a h3,
.hotel_money a h2 {
  color: white;
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}
.hotelLink_p h3 svg {
  padding: 5px 5px;
  border-radius: 50%;
  background-color: white;
  color: #4274b8;
}
.hotelLink_learning a {
  text-decoration: none;
}
.hotelLink_learning {
  padding-left: 40px;
  padding-bottom: 40px;
}
.hotelLink_learning h3 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  font-family: "GT Walsheim Pro", sans-serif;
  transition: all 0.5s linear;
}
.hotelLink_learning h3:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* MANAGMENT */
.managment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0;
}
.managment_title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 130px;
}
.managment_title h1 {
  padding-bottom: 150px;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 118);
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.Islom-Karimov {
  margin-bottom: 150px;
}
.Managment_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.Prizident_managment {
  display: flex;
  flex-direction: column;
  width: 26rem;
  transition: all 0.4s linear;
  height: 42rem;
  margin-right: 150px;
  position: relative;
}
.secondPrizident_managment {
  margin-right: 0;
}
.Prizident_managment img {
  width: 100%;
  height: 22rem;
  position: absolute;
  top: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.prizidentManagment_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.managmentIcon_item a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.managmentIcon_item i {
  color: #797979;
  margin-right: 10px;
  font-size: 1.1rem;
}
.managmentIcon_item:hover i,
.managmentIcon_item:hover h2 {
  color: blue;
}
.managmentIcon_item h2 {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #797979;
}
.prizidentManagment_p {
  position: absolute;
  bottom: 0;
  background-color: #f8faff;
  padding: 2.5rem 2.5rem;
  width: 100%;
  transition: all 0.4s linear;
  border-radius: 30px;
}
.Prizident_managment:hover .prizidentManagment_p {
  background-color: white;
  box-shadow: 0 10px 30px rgb(0 0 0 / 13%);
}
.prizidentManagment_p h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: #05364d;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.prizidentManagment_p p {
  color: #2b3036ca;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.managment_learning {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #05364d;
  font-size: 1.2rem;
  position: relative;
}
.managment_learning::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  width: 80%;
  left: 0;
  bottom: -10px;
  height: 2px;
}
.PrizidentManagment_about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42rem;
  background-color: #f8faff;
  padding: 0 75px;
  transition: all 0.4s linear;
  border-radius: 30px;
}
.secondPrizident_about {
  margin-right: 150px;
}
.PrizidentManagment_about:hover {
  background-color: white;
  box-shadow: 0 10px 30px rgb(0 0 0 / 13%);
}
.PrizidentManagment_about p {
  color: #2b3036ca;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 25px;
  font-size: 1.2rem;
}
.Managment_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Managment_img_item {
  display: flex;
  justify-content: flex-start;
  width: 22.5rem;
  flex-direction: column;
  box-shadow: 0 10px 30px rgb(0 0 0 / 13%);
  background-color: white;
}
.Managment_img_item_img {
  display: flex;
  justify-content: center;
  height: 16rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.Managment_img_item_img::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 50%;
  background-color: #4273b8b4;
  top: 100%;
  left: 100%;
  transition: all 1s linear;
}
.Managment_img_item_img:hover::before {
  width: 300%;
  height: 300%;
  top: -100%;
  left: -100%;
}
.Managment_img_item_img img {
  width: 100%;
  height: 100%;
}
.Managment_img_first,
.Managment_img_second {
  margin-right: 70px;
}
.ManagmentImg_item_about {
  padding: 40px 30px;
}
.ManagmentImg_item_about p {
  font-size: 1.15rem;
  color: #2b3036ca;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 40px;
  font-weight: 300;
}
.ManagmentImg_item_about a {
  text-decoration: none;
}
.ManagmentImg_item_about a h1 {
  font-size: 1.1rem;
  color: #797979;
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.managmentImg_overlay {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 10;
}
.managmentImg_overlay h1 {
  text-align: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  transition: all 0.5s linear;
}
.Managment_img_item_img:hover .managmentImg_overlay {
  opacity: 1;
  transition: all 1.5s linear;
}

/* FOOTER */
.footer {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../image/contact/contactBg1.webp) no-repeat;
  background-size: cover;
}
.footer_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_title {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 130px;
}
.footer_title h1 {
  padding-bottom: 150px;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 118);
  font-weight: 300;
  font-family: "Audiowide", cursive;
}
.form {
  margin-right: 85px;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(68, 68, 107, 0.3);
  padding: 90px 70px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.386) 30%, #fff 60%);
}
.firstName,
.email,
.password {
  position: relative;
  margin-bottom: 35px;
}
form .contact_item input {
  position: relative;
  border-radius: 0;
  width: 13.5rem;
  border: 1px solid rgba(0, 0, 0, 0.491);
  border-top: 0;
  height: 2.5rem;
  padding: 0 13px;
  outline: none;
  transition: all 0.2s linear;
  background-color: transparent;
}
form .password {
  margin-bottom: 50px;
}
.form .contact_item label {
  position: absolute;
  left: 0.8rem;
  top: 0.5rem;
  z-index: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.491);
  transition: all 0.2s linear;
}
form .contact_item input:focus {
  border-radius: 10px;
  border: 1px solid red;
  border-top: 0;
}
form .contact_item input:valid {
  border-radius: 30px;
  border: 1px solid #4c8897;
  border-top: 0;
}
form .contact_item input:focus ~ label {
  margin-top: -1rem;
  font-size: 0.8rem;
  color: red;
  margin-left: 0.1rem;
}
form .contact_item input:valid ~ label {
  font-size: 0.8rem;
  margin-top: -1rem;
  margin-left: 0.8rem;
  color: #4c8897;
}
form .btn {
  width: 11rem;
  height: 3.2rem;
  border: 1px solid #6ca0b1;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.713);
  color: #6ca0b1;
  transition: all 0.5s linear;
  font-size: 1rem;
  cursor: pointer;
}
form .btn::before {
  content: "";
  position: absolute;
  width: 0;
  background-color: #6ca0b1;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
  z-index: -1;
}
form .btn:hover::before {
  width: 11rem;
  border-radius: 40px;
}
form .btn:hover {
  color: white;
  border-radius: 40px;
  border: none;
}

.contactCard_row {
  margin-bottom: 85px;
}
.contactCard_row,
.contactCardRow_second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactCard_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #fff 10%,
    rgba(255, 255, 255, 0.5) 80%
  );
  width: 15rem;
  height: 12rem;
  box-shadow: 0 0 30px rgba(68, 68, 107, 0.3);
}
.contactCard_item i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.45rem;
  height: 3.45rem;
  color: #4c8897;
  font-size: 1.5rem;
  border: 1px dashed #4c8897;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.3s linear;
}
.contactCard_item:hover i {
  color: white;
  border: 0;
  background-color: #6ca0b1;
  box-shadow: 0 0 0 6px #6ca0b16f;
}
.contactCard_item h1 {
  color: #4c8897;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.contactCard_item a {
  color: rgba(0, 0, 0, 0.686);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}
.contactCard_item a:hover {
  color: #4c8897;
}
.contactCard_email,
.telegram {
  margin-right: 85px;
}

.goodbye {
  background-color: #4274b8;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.website_map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.website_map a {
  margin-top: 0;
  margin-right: 40px;
  text-decoration: none;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  transition: all 0.3s linear;
}
.website_map a:last-child {
  margin-right: 0;
}
.website_map a:hover {
  margin-top: -15px;
}
.website_map a svg {
  color: white;
}
.contact_brand {
  margin-bottom: 60px;
}
.contact_brand a {
  text-decoration: none;
  padding-left: 100px;
}
.contact_brand a h1 {
  font-family: "Audiowide", cursive;
  color: rgb(0, 0, 118);
  font-size: 2.7rem;
}
.contact_brand a span {
  color: blue;
}

.website_admin h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin-left: 20px;
}
