@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300&family=Roboto:wght@100&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@500&family=Quicksand:wght@300&family=Roboto:wght@100&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  margin-right: auto;
  margin-left: auto;
}
body {
  padding: 0;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.585);
}

/*  NAV  */

.navUl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  width: 300px;
  background-color: rgba(0, 49, 94, 0.64);
  height: 100%;
}
.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  margin: 5px 0;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.nav__item:hover {
  background-color: rgba(190, 214, 255, 0.56);
}
.nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transition: all 0.5 ease;
}
.nav__item svg {
  margin-right: 15px;
}
.language {
  display: flex;
  align-items: center;
  position: relative;
}
.language a {
  margin-right: 5px;
}
.language svg {
  color: #fff;
}
.navItem_language {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  opacity: 0;
  padding: 15px 30px;
  box-shadow: 0 0 20px rgba(76, 83, 102, 0.206);
  top: 53px;
  left: 0;
  margin-top: 30px;
  background-color: white;
  visibility: hidden;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.language:hover .navItem_language {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}
.navItem_language li {
  margin-bottom: 15px;
  list-style: none;
}
.navItem_language li:last-child {
  margin-bottom: 0;
}
.language_link a {
  color: black;
}
.language_link a:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* SYMBOL */

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 150px;
  width: 100%;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background: url(../image/symbol/symbol.head.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.symbol_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 200px;
  padding-left: 70px;
  background-color: rgba(190, 214, 255, 0.56);
}
.symbol_title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #0a586b;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.symbol_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65rem;
  height: 22.8125rem;
  padding: 40px 40px;
  background-color: #fff;
  box-shadow: 0 0 40px #03295e22;
}
.symbol_gerb,
.symbol_flag {
  margin-bottom: 40px;
}
.symbolItem_img {
  margin-right: 40px;
}
.symbolGerb_img img {
  width: 17rem;
}
.symbolFlag_img img,
.symbolAnthem_img img {
  width: 17rem;
  height: 14rem;
}
.symbolItem_paragraph p {
  color: #073c86;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 25px;
}
.symbolAthemP_first_column {
  display: flex;
  margin-top: 20px;
}
.Athem_first {
  margin-right: 60px;
}

/* FOOTER */
.footer {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../image/contact/contactBg1.webp) no-repeat;
  background-size: cover;
  width: 100%;
}
.footer_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer_title {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.footer_title h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4c8897;
  font-weight: 500;
  font-family: "Poppins", helvetica;
}
.form {
  width: 40%;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(68, 68, 107, 0.3);
  padding: 20px 50px;
  width: 23rem;
  height: 34rem;
  transition: all 0.7s ease;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.386) 30%, #fff 60%);
}
.form form:hover {
  border-radius: 20px;
}
.firstName,
.email,
.password {
  position: relative;
  margin-bottom: 2rem;
}
form .contact_item input {
  position: relative;
  border-radius: 0;
  width: 13.5rem;
  border: 1px solid rgba(0, 0, 0, 0.491);
  border-top: 0;
  height: 2.5rem;
  padding: 0 13px;
  outline: none;
  transition: all 0.2s linear;
  background-color: transparent;
}
form .password {
  margin-bottom: 3.5rem;
}
.form .contact_item label {
  position: absolute;
  left: 0.8rem;
  top: 0.5rem;
  z-index: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.491);
  transition: all 0.2s linear;
}
.form .contact_item input:focus {
  border-radius: 10px;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
}
.form .contact_item input:valid {
  border-radius: 20px;
  border-bottom: 1px solid rgb(0, 168, 112);
  border-right: 1px solid rgb(0, 168, 112);
  border-left: 1px solid rgb(0, 168, 112);
}
.form .contact_item input:focus ~ label {
  color: red;
  margin-top: -0.9rem;
  font-size: 0.8rem;
}
.form .contact_item input:valid ~ label {
  color: rgb(0, 168, 112);
  margin-top: -0.9rem;
  font-size: 0.8rem;
  left: 1.4rem;
}
form .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 3.2rem;
  border: 1px solid #6ca0b1;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.713);
  color: #6ca0b1;
  transition: all 0.5s linear;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}
form .submit::before {
  content: "";
  position: absolute;
  width: 0;
  background-color: #6ca0b1;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
  z-index: -1;
}
form .submit:hover::before {
  width: 11rem;
  border-radius: 40px;
}
form .submit:hover {
  color: white;
  border-radius: 40px;
  border: none;
}

.submit_alert {
  position: fixed;
  right: -100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 160, 160);
  padding-left: 10px;
  width: 23rem;
  height: 4.5rem;
  transition: all 0.5s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.264);
  border-radius: 5px;
  border-left: 5px solid red;
}
.submit_alert.active {
  right: 20px;
}
.warning_alert {
  top: 110px;
}
.correct_alert {
  bottom: 110px;
  background-color: rgb(160, 255, 209);
  box-shadow: 0 0 40px rgba(29, 30, 52, 0.212);
  border-left: 5px solid rgb(0, 162, 130);
}
.alert_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert_check i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: red;
  color: white;
  margin-right: 15px;
  border-radius: 50%;
}
.alert_correct_check i {
  background-color: rgb(0, 162, 130);
}
.submit_alert h1 {
  color: red;
  font-size: 1.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
}
.correct_alert h1 {
  color: rgb(0, 162, 130);
}
.alert_close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
}
.warningAlert_close {
  background-color: #ff8a8a;
}
.correctAlert_close {
  background-color: rgb(106, 255, 225);
}
.warningAlert_close i {
  font-size: 1.4rem;
  color: red;
}
.correctAlert_close i {
  font-size: 1.4rem;
  color: rgb(0, 162, 130);
}

.contact_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
}
.contactCard_row {
  margin-bottom: 5rem;
}
.contactCard_row,
.contactCardRow_second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactCard_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #fff 10%,
    rgba(255, 255, 255, 0.5) 80%
  );
  width: 19rem;
  height: 14.5rem;
  box-shadow: 0 0 30px rgba(68, 68, 107, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}
.contactCard_item::before {
  content: "";
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  transition: all 0.3s;
  z-index: -1;
}
.contactCard_item:hover::before {
  top: 0;
  background-color: #67adbe;
}
.contactCard_item i {
  color: #4c8897;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.contactCard_item h1 {
  color: #4c8897;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.contactCard_item a {
  color: rgba(0, 0, 0, 0.686);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.5s ease;
}
.contactCard_item:hover a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.contactCard_email,
.telegram {
  margin-right: 5rem;
}
.contactCard_item:hover i,
.contactCard_item:hover h1,
.contactCard_item:hover a {
  color: white;
}

/* GOODBYE */

.goodbye {
  position: relative;
  background-color: #4c86d6;
  border-radius: 0 50px 50px 50px;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 10%;
  flex-direction: column;
  margin-bottom: 100px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
.goodbye_links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.website_map,
.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.website_map a,
.follow a {
  text-decoration: none;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all 0.3s linear;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.website_map a:last-child,
.follow a:last-child {
  margin-bottom: 0;
}
.website_map a:first-child,
.follow a:first-child {
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.website_map a:first-child:hover,
.follow a:first-child:hover {
  opacity: 1;
}
.website_map a:hover,
.follow a:hover {
  opacity: 0.7;
}
.contact_brand a {
  text-decoration: none;
  padding-left: 100px;
}
.contact_brand a h1 {
  font-family: "Audiowide", cursive;
  color: rgb(0, 77, 170);
  font-size: 2.4rem;
  text-shadow: 10px 10px 10px rgba(220, 220, 220, 0.209);
  margin-bottom: 30px;
}
.contact_brand a span {
  color: #3971ff;
}
.contact_brand p {
  color: rgba(255, 255, 255, 0.653);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 1.5px;
}
.footer_hr {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.38);
}

.website_admin h1 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin-left: 20px;
}

.by {
  position: absolute;
  bottom: 30px;
  left: 50%;
}
.by h1,
.by a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  opacity: 0.9;
}
.by i {
  margin-right: 10px;
}