@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@300&family=Ubuntu:ital,wght@1,700&family=Yellowtail&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.585);
}

/*  NAV  */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  transform: perspective(0) rotateX(0) rotateY(0);
  z-index: 10;
}
.navUl {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}
.brand {
  text-decoration: none;
  padding-left: 100px;
}
.brand h1 {
  font-family: "Audiowide", cursive;
  color: rgb(0, 0, 118);
  font-size: 30px;
}
.brand span {
  color: blue;
}
.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  height: 90px;
}
.nav__item:hover {
  background-color: rgba(56, 56, 56, 0.099);
}
.nav__item a {
  color: rgba(0, 0, 0, 0.457);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  padding: 0 20px;
}
.nav__item a:hover {
  color: black;
}
.pages__section {
  display: none;
  flex-flow: column;
  box-shadow: 0 0 40px rgba(108, 112, 132, 0.52);
  position: absolute;
  top: 90px;
  left: -25px;
  background-color: white;
  border-radius: 10px;
}
.pages__link {
  position: relative;
}
.pages__link:hover .pages__section {
  display: flex;
}
.nav__item_pages {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  height: 90px;
  border-radius: 10px;
}
.nav__item_pages:hover {
  background-color: rgba(0, 115, 255, 0.099);
}
.nav__item_pages a {
  color: rgba(0, 0, 0, 0.457);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  transition: all 0.5s ease;
  padding: 0 20px;
}
.nav__item_pages a:hover {
  color: black;
}

/*  HOME  */
.angle__down {
  position: absolute;
  bottom: 25px;
}
.angle__down svg {
  color: rgb(0, 0, 0);
  width: 2.8rem;
  height: 2.8rem;
  animation: angle__animate 1.5s ease infinite;
}
.angle__down svg:hover {
  animation-play-state: paused;
}
@keyframes angle__animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.home__title {
  margin-right: 70px;
}
.home__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.home__brand h1 {
  text-shadow: 0 5px 10px rgba(32, 32, 67, 0.6);
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home__brand .home_brand_uzbek,
.home_brand_about {
  font-family: "Audiowide", cursive;
  color: rgb(0, 0, 118);
  font-size: 40px;
}
.home_brand_about {
  color: blue;
}
.home__title p {
  line-height: 30px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.457);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home__bg img:hover {
  animation: animate__home__bg 3s infinite;
}
.home__bg img {
  width: 40rem;
  box-shadow: 0 0 20px rgba(150, 154, 175, 0.712);
}
@keyframes animate__home__bg {
  0% {
  }
  25% {
    transform: perspective(1000px) rotateX(15deg) rotateY(-15deg);
  }
  50% {
    transform: perspective(1000px) rotateX(15deg) rotateY(15deg);
  }
  75% {
    transform: perspective(1000px) rotateX(-15deg) rotateY(20deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
}

/*  REGION  */
.region {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.region_title h1 {
  margin-bottom: 100px;
  font-size: 3.1rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.507);
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}
.region_title h1:hover {
  transform: translateY(-5px);
}
.region_title h1::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.507);
  width: 50%;
  bottom: -10px;
  height: 2px;
  left: 25%;
}
.firstRow_region, .secondRow_region, .threeRow_region, .fourRow_region {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.fourRow_region {
  margin-bottom: 0;
}
.regionFirst_img, .regionSecond_img {
  margin-right: 50px;
}
.regionFirst_img img, .regionSecond_img img, .regionThree_img img {
  width: 25rem;
}
.regionFirst_img img:hover,
.regionSecond_img img:hover,
.regionThree_img img:hover {
  transform: scale(1.1);
}